logs/
slurm_logs/
data/
outputs/
wandb/ 
MeanFlow/

# cache files
src/utils/__pycache__/
src/models/components/__pycache__/
src/models/components/ldm/denoiser/__pycache__/
src/models/__pycache__/
src/models/components/__pycache__/
src/models/components/ldm/__pycache__/
utils/__pycache__/
*.pyc

# model checkpoints
*.ckpt

# large executed notebooks (outputs)
notebooks/models_inference_executed.ipynb
*.backup

# logs
*.log
slurm_logs/

# local / external
DiffScaler/
LDM-downscaling
pretrained_models/wget-log

# legacy
legacy/